.addtocart {
  padding: 5%;

  .addtocart-btn {
    background-color: rgb(44, 165, 44);
    width: 100%;
    font-size: 16px;
    color: #fff;
    border-radius: 25px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 3em;
      padding: 10px;
    }

    .ingredient-amount {
      margin: 0 10px;
    }
  }
}
