.card {
  background: no-repeat center center/cover;
  // margin-left: 5%;
  margin: 10px 10px 10px 5%;
  width: 65vw;
  height: 70vh;
  border-radius: 25px;
  flex: 0 0 auto;
  box-shadow: 0 0 10px #b2b2b2;
  position: relative;
  z-index: 0;

  .content {
    background: radial-gradient(transparent, #222);
    border-radius: 25px;
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .recipe-title {
      font-size: 1.4em;
    }

    .like-icon {
      height: 10%;
      padding: 10px;
      display: block;
      margin-left: auto;
      z-index: 10;
    }
  }

  @media screen and (min-width: 900px) {
    margin: 10px;
    width: 45%;
    height: 300px;
    border-radius: 10px;
    flex: unset;
    position: relative;
    z-index: 0;

    .content {
      background-color: rgba(#222, 0);
      border-radius: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: rgba(#222, 0.6);
      }

      .recipe-title {
        font-size: 1em;
      }

      .like-icon {
        height: 1em;
        padding: 0;
        z-index: 10;
      }
    }
  }
}
