/*--- VARIABLES ---*/
:root {
  //COLORS
  --main-bg-color: #fff;
  --main-color: #333;
  --secondary-color: #e6e6e6;

  //HOVER
  --opacity: 0.7;

  //TRANSITION
  --transition: all 0.2s ease-in-out;
}

// FLEX
@mixin flex-row {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--- FONTS ---*/
@font-face {
}

/*--- RESET ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: opactiy 0.2s ease-in-out;
}

button:hover {
  opacity: var(--opacity);
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease-in-out;
}

a:hover {
  opacity: var(--opacity);
}

ul {
  list-style: none;
}

svg path {
  fill: var(--main-color);
}

/*--- GLOBAL CLASSES ---*/

.container {
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
}

// BUTTONS

.light-btn {
  padding: 0.5em 1em;
  border: 1px solid var(--main-color);
}

.dark-btn {
  padding: 0.5em 1em;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--main-bg-color);
  @include flex-row;

  .btn-icon path {
    fill: var(--main-bg-color);
  }
}

*:disabled {
  opacity: var(--opacity);
}

.light-btn:hover,
.dark-btn:hover {
  opacity: var(--opacity);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cecece;
}
