* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e2e2;
}

button {
  outline: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
  list-style-position: inside;
  margin-bottom: 0.5em;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  font-weight: bold;
}
